logs
project/project
project/target
target
tmp
.history
/public/node_modules
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/public/bootstrap-3.2.0/dist
/public/bootstrap-3.2.0/docs
