<div id="addNoteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add a Note</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="3" ng-model="note"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" ng-click="saveNote()">Save</button>
            </div>
        </div>
    </div>
</div>