<div class="add-note-modal">
    <div class="modal-header">
        <h4>Add a Note</h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="note in referral.notes" class="referral-note">
            <p>
                <span ng-if="note.userModel">
                    {{note.formattedCreatedDate}} - {{note.userModel.fullName}} -
                </span>
                {{note.note}}
            </p>
        </div>
        <textarea class="form-control" rows="3" ng-model="note"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="confirm()">Save</button>
    </div>
</div>