<div class="table" ng-repeat="record in records">
    <table class="table">
        <thead>
            <tr>
                <th>User/Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in record.notes">
                <td width="20%">
                    <span ng-if="note.userModel">
                        {{note.userModel.fullName}}<br />
                        {{note.formattedCreatedDate}}
                    </span>
                </td>
                <td width="65%" class="note">
                    {{note.note}}
                </td>
            </tr>
        </tbody>
    </table>
</div>