<div ng-repeat="record in records">
    <div class="main-box-header">
        <h2>
            Client Notes Summary
            <div class="pull-right" add-note-button referral="record" type="button"></div>
        </h2>
    </div>
    <div class="main-box-body">
        <div class="table">
            <table class="table">
                <tbody>
                    <tr ng-repeat="note in record.notes">
                        <td>
                            <span ng-if="note.userModel">
                                {{note.formattedCreatedDate}} - {{note.userModel.fullName}} - 
                            </span>
                            {{note.note}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>