<div class="currentClient panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title counted" data-step="1">Verify Client Information</h2>
    </div>
    <div class="panel-body tabs-wrapper" role="tabpanel">
        <ul class="nav nav-tabs col-md-12 border-right" role="tablist">
            <li class="active"><a href="#display" data-toggle="tab" role="tab">Client Information</a></li>
            <li><a href="#search" data-toggle="tab" role="tab">Edit information</a></li>
        </ul>
        <div class="tab-content col-md-12">

            <div class="tab-pane active in fade" id="display" ng-include src="'/assets/javascripts/src/views/add-client.html'"></div>

            <div role="tabpanel" class="tab-pane" id="search" client-search-directive></div>
        </div>
    </div>
</div>
