<div class="main-box client-search">
    <header class="main-box-header clearfix">
        <h2 class="row">Search Existing Clients</h2>
        <form>
            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" ng-model="search" placeholder="Search...">
            </div>
        </form>
    </header>
    <div class="main-box-body clearfix ">
        <h3>{{clients.length}} Results for "{{search}}"</h3>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="client in clients">
                <div class="main-box project-box profile-box-menu green-box" >
                    <div class="main-box-body clearfix ">
                        <div class="project-box-header green-bg clearfix"><div class="name"><a href><i class="fa fa-user fa-lg"></i> {{client.name}}</a></div></div>
                        <div class="profile-box-content clearfix">
                            <ul class="menu-items">
                                <li><a href="mailto:{{client.userName}}" target="_blank"><i class="fa fa-envelope fa-lg"></i> {{client.userName}}</a></li>
                                <li><a href="tel:{{client.phoneNumber}}"><i class="fa fa-phone fa-lg"></i> {{client.phoneNumber}}</a></li>
                                <li ng-if="referralView"><a href ng-click="addClientToReferral(client)"><i class="fa fa-plus fa-lg"></i> Add To Referral</a></li>
                                <li ng-if="profileView"><a href ng-click="addClientToProfile(client)"><i class="fa fa-plus fa-lg"></i> Add To Profile</a></li>
                                <li><a href="/client/history/{{client.id}}"><i class="fa fa-history fa-lg"></i> View Client History</a></li>
                            </ul>
                        </div>
                        <div class="project-box-footer clearfix">
                            <div map data-address="5375 Sidesaddle Dr, Jacksonville, FL 32235"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-box-footer clearfix"></footer>
</div>