<header class="main-box-header">
	<h2>Recently Assigned Referrals <span class="badge badge-primary">{{referrals.length}}</span></h2>
</header>
<div class="main-box-body">
	<div class="table-responsive">
        <table class="table dataTable no-footer">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Client Name</th>
                    <th>Next Steps Date</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="referral in referrals">
                    <td>{{referral.refType}} Referral</td>
                    <td>{{referral.clientName}}</td>
                    <td>{{referral.nextStepDate}}</td>
                    <td><a href="tel:+1{{referral.client.phoneNumber}}">{{referral.client.phoneNumber}}</a></td>
                    <td><a href="/editReferral/{{referral.id}}">Edit Referral</a> - <a href="/action/profile?refId={{referral.id}}">Begin Profile</a></td>
                </tr>
            </tbody>
        </table>

        <div class="view-all">
            <div class="pull-right">
            <!--TODO: View all referrals page-->
                <a class="btn btn-primary pull-right" href="#"><i class="fa fa-eye fa-lg"></i>
                View All Referrals
                </a>
            </div>
        </div>
	</div>
</div>