<header class="main-box-header">
    <h2>Your Recent Profiles <span class="badge badge-info">{{recentProfilesTotal}}</span></h2>
    <h5>Profiles completed in the last five days</h5>
</header>
<div class="main-box-body">
    <div class="table-responsive">
        <table class="table dataTable no-footer" ng-table="recentProfilesTable" >
            <thead>
            <tr>
                <th>Date Completed</th>
                <th>Client Name</th>
                <th>Phone Number</th>
                <th>Total Insurance</th>
                <th>Total PC</th>
                <th>Total IPS</th>
                <th>Was Productive?</th>
                <th>Referred By</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="profile in $data">
                <td>{{profile.createdDatePretty}}</td>
                <td>{{profile.client.name}}</td>
                <td><a href="tel:+1{{profile.client.phoneNumber}}">{{profile.client.phoneNumber | telly}}</a></td>
                <td>{{profile.referral.tInsurance}}</td>
                <td>{{profile.referral.tPc}}</td>
                <td>{{profile.referral.tIps}}</td>
                <td>{{profile.referral.wasProductive}}</td>
                <td>{{profile.referral.creator.firstName}} {{profile.referral.creator.lastName}}</td>
                <td><a href="/action/profileReview/{{profile.id}}">Profile Review</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>