<header class="main-box-header">
    <h2>Referrals You Created <span class="badge badge-primary">{{referrals.length}}</span></h2>
</header>
<div class="main-box-body">
    <div class="table-responsive">
        <table class="table dataTable no-footer" ng-show="referrals.length">
            <thead>
            <tr>
                <th>Type</th>
                <th>Client Name</th>
                <th>Next Steps Date</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="referral in referrals">
                <td>{{referral.refType}} Referral</td>
                <td>{{referral.clientName}}</td>
                <td>{{referral.nextStepDate}}</td>
                <td>{{referral.client.phoneNumber}}</td>
                <td><a href="#">Edit Referral</a> - <a href="#deleteModal" data-toggle="modal" data-referral="{{referral.id}}">Delete Referral</a></td>
            </tr>
            </tbody>
        </table>
        <ul ng-hide="referrals.length">
            <li>No Recent Referrals</li>
        </ul>
    </div>
</div>

<!--Delete referral modal-->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete this referral?</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default" data-dismiss="modal">No</button>
                <button class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>