<div class="btn-group stat-time-toggles">
    <button type="button" class="btn btn-default stat-button" ng-click="toggleDate($event, 7)">Last Week</button>
    <button type="button" class="btn btn-default stat-button" ng-click="toggleDate($event, 31)">Last Month</button>
    <button type="button" class="btn btn-default stat-button" ng-click="toggleDate($event, 365)">Last Year</button>
    <button type="button" class="btn btn-default stat-button" ng-click="toggleDate($event)">All Time</button>
</div>