<header class="main-box-header">
    <h2>Referrals Your Team Generated <span class="badge badge-primary">{{total}}</span></h2>
</header>
<div class="main-box-body">
    <div class="table-responsive">
        <p>
            <i class="fa fa-file-excel-o"></i> <a ng-href="{{downloadReportUrl}}">Download Referral Report</a>
        </p>
        <table class="table dataTable no-footer" ng-table="viewTeamReferrals" show-filter="true">
            <tbody>
            <tr ng-repeat="referral in $data">
                <td sortable="'refType'" data-title="'Referral Type'" filter="{ 'refType': 'select' }" filter-data="teamRefs">{{referral.refType}} Referral</td>
                <td sortable="'clientName'" data-title="'Client Name'" filter="{ 'clientName': 'text' }">{{referral.clientName}}</td>
                <td sortable="'nextStepDate'" data-title="'Next Steps Date'">{{referral.nextStepTimestamp | formatDate}}</td>
                <td sortable="'client.phoneNumber'" data-title="'Phone Number'"><a href="tel:+1{{referral.client.phoneNumber}}">{{referral.client.phoneNumber | telly}}</a></td>
                <td data-title="'Status'"><status-label status="referral.status" data-title="'Status'"><status-label status="referral.status"></status-label></td>
                <td sortable="'dateOfLastInteraction'" data-title="'Last Updated'">{{referral.dateOfLastInteraction | formatDate}}</td>
                <td sortable="'tInsurance'" data-title="'Total Insurance'">{{referral.tInsurance}}</td>
                <td sortable="'tPc'" data-title="'Total PCs'">{{referral.tPc}}</td>
                <td sortable="'tIps'" data-title="'Total IPS'">{{referral.tIps}}</td>
                <td data-title="'Actions'">
                    <div action-dropdown referral="referral"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>