@import utils.StatTotals

@(user: UserModel, client: Client, historyRecords: List[HistoryRecord], sums: StatTotals)

@home(user, "Manage Clients") {
    <h1>Client Information</h1>
    <div class="main-box-body clearfix ">
        <div class="row">
            @* Client Basic Info *@
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="main-box project-box profile-box-menu green-box clearfix" >
                    <div class="main-box-body clearfix ">
                        <div class="project-box-header green-bg clearfix"><div class="name"><a href><i class="fa fa-user fa-lg"></i> @client.name</a></div></div>
                        <div class="profile-box-content clearfix">
                            <ul class="menu-items">
                                <li><a href><i class="fa fa-envelope fa-lg"></i> @client.userName</a></li>
                                <li><a href><i class="fa fa-phone fa-lg"></i> @client.phoneNumber</a></li>
                                <li><a href="@routes.PDFController.newAccount(client.id)" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i> Generate New Account PDF</a></li>
                            </ul>
                        </div>
                        <div class="project-box-footer clearfix">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                <div class="main-box">
                    <div class="main-box-header">
                        <h2>Home Address:</h2>
                    </div>
                    <div class="main-box-body">
                        <div map data-address="@client.address1, @client.city, @client.state @client.zipcode" data-height="300"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Client Interaction History *@
    <div class="row">
        <div class="col-lg-8">
            <div class="main-box">
                <div class="main-box-header">
                    <h2>Client History</h2>
                </div>
                <div class="main-box-body">
                    <div class="table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type of Interaction</th>
                                    <th>Date of Last Interaction</th>
                                    <th>Status</th>
                                    <th>Referrer</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(index <- 0 until historyRecords.size) {
                                <tr>
                                    <td>@historyRecords(index).getRecordType</td>
                                    <td>@historyRecords(index).getDateOfLastInteractionString</td>
                                    <td><status-label status="'@historyRecords(index).getRecordStatus'"></status-label></td>
                                    <td>@historyRecords(index).getCreatorName</td>
                                    <td>
                                        @if(historyRecords(index).getLink != null) {
                                            <a href="@historyRecords(index).getLink">
                                                @if(historyRecords(index).getRecordType == "Referral") {
                                                    Edit this @historyRecords(index).getRecordType
                                                }else {
                                                    @if(historyRecords(index).getRecordType == "Profile") {
                                                        View this @historyRecords(index).getRecordType Summary
                                                    }
                                                }
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*Client Notes Summary*@
            <div class="main-box">
                <div class="main-box-header">
                    <h2>Client Notes Summary</h2>
                </div>
                <div class="main-box-body">
                    <div class="table">
                        <table class="table">
                            <tbody>
                            @for(index <- 0 until historyRecords.size) {
								@for(noteIndex <- 0 until historyRecords(index).getNotes.size) {
									<tr>
										<td>
											@*
												Legacy records don't include the user that created the note. Although they
												do have the date, it's likely that the original note has it included, so
												we'll just leave that out as well.
											*@
											@if(historyRecords(index).getNotes.get(noteIndex).getUserModel != null) {
												@historyRecords(index).getNotes.get(noteIndex).getUserModel.getFullName,
												@historyRecords(index).getNotes.get(noteIndex).getFormattedCreatedDate -
											}
											@historyRecords(index).getNotes.get(noteIndex).getNote
										</td>
									</tr>
								}
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            @* Client totals *@
            <div class="main-box infographic-box colored green-bg">
                <i class="fa fa-money"></i>
                <span class="headline">Total Insurance</span>
                <span class="value">@sums.getSumInsurance</span>
            </div>
            <div class="main-box infographic-box colored purple-bg ">
                <i class="fa fa-money"></i>
                <span class="headline">Total PC</span>
                <span class="value">@sums.getSumPcs</span>
            </div>
            <div class="main-box infographic-box colored emerald-bg">
                <i class="fa fa-money"></i>
                <span class="headline">Total IPS</span>
                <span class="value">@sums.getSumIps</span>
            </div>
        </div>

    </div>
}