<div class="row">
	<div ng-controller="StatsController">

		<div class="btn-group stat-time-toggles">
			<button type="button" class="btn btn-default" ng-click="toggleDate(7)">Last Week</button>
			<button type="button" class="btn btn-default" ng-click="toggleDate(31)">Last Month</button>
			<button type="button" class="btn btn-default" ng-click="toggleDate(365)">Last Year</button>
			<button type="button" class="btn btn-default" ng-click="toggleDate()">All Time</button>
		</div>

		<div ng-controller="EfsStatsController" ng-cloak>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="main-box small-graph-box emerald-bg efs-referrals-box">
					<span class="value">{{totalReferrals}}</span>
					<span class="headline">Total Referrals</span>
					<div class="progress">
						<div style="width: {{percentageProductiveReferrals}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<i class="fa fa-user red-bg"></i>
					<span class="headline">Total IPS</span>
					<span class="value">
						<span class="timer">
						{{totalIPS | number}}
						</span>
					</span>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<i class="fa fa-shopping-cart emerald-bg"></i>
					<span class="headline">Total PC</span>
					<span class="value">
						<span class="timer">
						{{totalPC | number}}
						</span>
					</span>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="main-box infographic-box">
					<i class="fa fa-money green-bg"></i>
					<span class="headline">Total Insurance</span>
					<span class="value">
						<span class="timer">{{totalInsurance | number}}
						</span>
					</span>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="main-box clearfix">
					<header class="main-box-header clearfix">
						<h2>Most Productive Producers</h2>
					</header>
					<div class="main-box-body clearfix">
						<ul class="widget-users row">
							<li class="col-md-4">
								<div class="img">
									@*<img src="img/samples/scarlet.png" alt="">*@
								</div>
								<div class="details">
									<div class="name">
										Most Total Clients
									</div>
									{{mostTotalClients.user.fullName}}<br />
									{{mostTotalClients.callout}} Clients
								</div>
							</li>
							<li class="col-md-4">
								<div class="img">
									@*<img src="img/samples/kunis.png" alt="">*@
								</div>
								<div class="details">
									<div class="name">
										Most Productive Referrals
									</div>
									{{mostProductiveReferrals.user.fullName}}<br />
									{{mostProductiveReferrals.callout}} Referrals
								</div>
							</li>
							<li class="col-md-4">
								<div class="img">
									@*<img src="img/samples/ryan.png" alt="">*@
								</div>
								<div class="details">
									<div class="name">
										Highest Percentage of Productive Referrals
									</div>
									{{highestPercentageProductiveReferrals.user.fullName}}<br />
									{{highestPercentageProductiveReferrals.callout | number : 2}}%
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" upcoming-appts></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" upcoming-referrals></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" fresh-referrals></div>
    </div>
</div>
