<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" upcoming-appts></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" upcoming-referrals></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Fresh Referrals Directive *@
    <div class="main-box fresh-referral" fresh-referrals></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @* Recent Profiles Directive *@
    <div class="main-box recent-profile" recent-profiles></div>
    </div>
</div>