@(user: UserModel)
@home(user, "Home") {
    @*Old*@

    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome, @user.firstName @user.lastName</h1>
            @*Flash messages*@
            @if(flash.contains("success")) {
                <p class="alert alert-success">@flash.get("success")</p>
            }
        </div>
    </div>

    <div class="row">
        @*Angular components to show stats and clients*@
        <div class="col-lg-6">
            <div class="main-box" ng-controller="FreshReferralController">
                <header class="main-box-header">
                    <h2>Your Referrals</h2>
                </header>
                <div class="main-box-body">
                    @* TODO: Change to table, and request client for this referral in this scope *@

                    <ul ng-show="referrals.length">
                        <li  ng-repeat="referral in referrals" ><a href="@routes.Application.profile()?refId={{referral.id}}">{{referral.refType}} Referral - {{referral.nextStepDate}} - {{referral.clientName}} - {{referral.client.phoneNumber}}</a></li>
                    </ul>
                    <ul ng-show="!referrals.length">
                        <li>No recent referrals</li>
                    </ul>
                    @* TODO: add view all link *@
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="main-box" ng-controller="RecentProfilesController">
                <header class="main-box-header">
                    <h2>Your Recent Profiles</h2>
                </header>
                <div class="main-box-body">
                    <ul ng-show="recentProfiles.length">
                        <li ng-repeat="profile in recentProfiles | orderBy:predicate:reverse"><a href="/action/profileReview/{{profile.id}}">{{profile.client.name}} - Completed on: {{profile.createdDatePretty}}</a></li>
                    </ul>
                    <ul ng-show="!recentProfiles.length">
                        <li>No recent profiles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @*Company Metrics*@

        </div>
    </div>

}