@(user: UserModel)
@home(user, "Home") {
    @*Old*@

    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome, @user.firstName @user.lastName</h1>
            @*Flash messages*@
            @if(flash.contains("success")) {
                <p class="alert alert-success">@flash.get("success")</p>
            }
        </div>
    </div>

    <div class="row">
        @*Angular components to show stats and clients*@
        <div class="col-lg-6">
            @*TODO: Include in its own template file*@
            <div class="main-box fresh-referral" ng-controller="FreshReferralController">
                <header class="main-box-header">
                    <h2>Recent Referrals <span class="badge badge-success">{{referrals.length}}</span></h2>
                </header>
                <div class="main-box-body">
                    <div class="table-responsive">
                        <div class="dataTables_wrapper">
                            <table class="table dataTable no-footer" ng-show="referrals.length">
                                <thead>
                                    <tr class="row">
                                        <th rowspan="1" colspan="1">Type</th>
                                        <th rowspan="1" colspan="1">Client Name</th>
                                        <th rowspan="1" colspan="1">Next Steps Date</th>
                                        <th rowspan="1" colspan="1">Phone Number</th>
                                        <th rowspan="1" colspan="1">Take Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row" ng-repeat="referral in referrals">
                                        <td>{{referral.refType}} Referral</td>
                                        <td>{{referral.clientName}}</td>
                                        <td>{{referral.nextStepDate}}</td>
                                        <td>{{referral.client.phoneNumber}}</td>
                                        <td><a href="@routes.Application.profile()?refId={{referral.id}}">Begin Profiling</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul ng-hide="referrals.length">
                                <li>No Recent Referrals</li>
                            </ul>
                            <div class="view-all row">
                                <div class="pull-right">
                                    @*TODO: View all referrals page*@
                                    <a class="btn btn-primary pull-right" href="#"><i class="fa fa-eye fa-lg"></i>
                                        View All Referrals
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="main-box" ng-controller="RecentProfilesController">
                <header class="main-box-header">
                    <h2>Your Recent Profiles</h2>
                </header>
                <div class="main-box-body">
                    <ul ng-show="recentProfiles.length">
                        <li ng-repeat="profile in recentProfiles | orderBy:predicate:reverse"><a href="/action/profileReview/{{profile.id}}">{{profile.client.name}} - Completed on: {{profile.createdDatePretty}}</a></li>
                    </ul>
                    <ul ng-show="!recentProfiles.length">
                        <li>No recent profiles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @*Company Metrics*@

        </div>
    </div>

}