@(user: UserModel, freshReferrals: List[Referral])
@home(user, "Home") {
    @*Old*@

    <div class="row">
        <h2>Welcome, @user.firstName @user.lastName</h2>
        <div class="notifications col-md-4 col-sm-12">
            @*Flash messages*@
            @if(flash.contains("success")) {
                <p class="alert alert-success">@flash.get("success")</p>
            }
            @if(freshReferrals.size() != 0) {
                <ul class="alert alert-info">
                @for(ref <- freshReferrals) {
                    <li><a href="@routes.Application.profile()?refId=@ref.id"> @ref.refType
                        Referral - @ref.nextStepDate - @ref.clientName</a>
                    </li>
                }
                </ul>
            }
        </div>
    </div>

    <div class="row">

    </div>

    @*New*@

}