@main("Landing page") {

    <div class="jumbotron">
        <div class="container">
            <h1>Financial referral tracking for the modern era</h1>
            <p class="lead">Project Awesome is a client referral tracking and reporting application, tailored to the needs of financial advisors and agents. Project Awesome allows you to reach and process more potential clients in less time. Start using our efficiency boosting application today!</p>
        </div>
    </div>

    <div class="container">
        <p>Description content to follow here</p>
    </div>


}
