@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/min/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/min/project_awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-brand">
                        <a href="
                            @if(null != session().get("username")) {
                                @routes.Application.home()
                            }else {
                                @routes.Application.index()
                            }">Project Awesome</a> - @title
                    </div>
                    <div class="navbar-right">
                        <a class="navbar-text" href="@routes.Application.signup()">Create an account</a>
                        @if(null != session().get("username")) {
                            <a href="@routes.Application.logout()" class="btn btn-default btn-sm navbar-btn">Logout <span class="glyphicon glyphicon-log-out"></span></a>
                        }else {
                            <a href="@routes.Application.login()" class="btn btn-default btn-sm navbar-btn">Login <span class="glyphicon glyphicon-log-in"></span></a>
                    </div>
                </div>
                }
            </div>
        </nav>

        @content

        @*Includes for javascript*@
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/project_awesome.min.js")" type="text/javascript"></script>
    </body>
</html>
