@(user: UserModel, scripts: List[Script])
@home(user, "Producer Phone Scripts") {

    <h1>Producer Phone Scripts</h1>

    <div class="main-box">
        <header class="main-box-header">
            <h2>Phone Scripts</h2>
        </header>
        <div class="main-box-body clearfix">
            <div class="tabs-wrapper scriptTabs">
                <!-- Tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    @for((script, index) <- scripts.zipWithIndex) {
                        @if(index.equals(0)){
                            <li class="active">
                        }else {
                            <li>
                        }
                            <a href="#script@index" role="tab" data-toggle="tab">@script.heading</a>
                        </li>
                    }
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    @for((script, index) <- scripts.zipWithIndex) {
                        @if(index.equals(0)){
                            <div class="tab-pane fade in active" id="script@index">
                        }else {
                            <div class="tab-pane fade" id="script@index">
                        }
                            <p>@script.body </p>
                        </div>
                    }
                </div>
            </div>
            <div>
                <div class="col-lg-12">
                    <a href="@routes.Application.referral()" class="btn btn-primary">Refer this client</a>
                </div>
            </div>
        </div>
    </div>
}