<div class="row">
    <div class="col-lg-9">
        <div ng-controller="StatsController" class="main-box">
            <div stat-time-directive class="main-box-header clearfix main-box-header">
				Your Metrics for {{timeDisplay}}
			</div>
            <div ng-controller="ProducerStatsController" ng-cloak class="main-box-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="main-box small-graph-box emerald-bg efs-referrals-box">
                            <span class="value">{{totalReferrals}}</span>
                            <span class="headline">Total Referrals Created</span>
                            <div class="progress">
                                <div style="width: {{percentageProductiveReferrals}}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar"></div>
                            </div>
                            <span class="subinfo">
                                {{getProductiveReferrals()}}
                            </span>
                            <span class="subinfo">
                                {{getProductiveReferralsPercentage()}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="main-box quick-links">
            <div class="main-box-header">
                <h2>Quick Links</h2>
            </div>
            <div class="main-box-body">
                <ul class="">
                    <li><a class="btn btn-primary" href="@routes.Application.referral()">Create Client Referral</a></li>
                    <li><a class="btn btn-primary" href="@routes.Application.clients()">Search Existing Clients</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-box" referrals-by-creator></div>
    </div>
</div>