@(agent: UserModel, profile: Profile, client: Client)
@home(agent, "Profile Review") {
    <h1 class="row">Client Profile Summary</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Client Information</h3>
            <div class="client-review">
                <dl>
                    <dt>Name:</dt>
                    <dd>@client.name</dd>
                    <dt>Acct Number:</dt>
                    <dd>@client.acctNumber</dd>
                    <dt>E-mail:</dt>
                    <dd>@client.userName</dd>
                    <dt>Date of birth:</dt>
                    <dd>@client.birthDatePretty</dd>
                    <dt>Referral Notes:</dt>
                    <dd>@client.refNotes</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Profile Information</h3>
            <div class="profile-review">
                <dl>
                    <dt>Recommendation:</dt>
                    <dd>@profile.advisorRecommendation</dd>
                    <dt>Liquidity Needs:</dt>
                    <dd>@profile.liquidityNeeds</dd>
                    <dt>Expected date of funds use:</dt>
                    <dd>@profile.expectedDateOfFundsUse</dd>
                    <dt>Savings Plans:</dt>
                    <dd>@profile.savingsPlans</dd>
                    <dt>Next Steps:</dt>
                    <dd>@profile.nextSteps</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <h3>Financial Assets</h3>
        <div class="assets-review asset-list">
        @for((asset,index) <- client.assetList.zipWithIndex) {
            <dl class="col-md-6 @if(index % 2 == 0) {even}else {odd}">
                <dt>Type of Asset:</dt>
                <dd>@asset.realAssetType</dd>
                <dt>Value:</dt>
                <dd>@asset.totalValue</dd>
                <dt>Financial Institute:</dt>
                <dd>@asset.financialInstitute</dd>
                <dt>Payment:</dt>
                <dd>@asset.recurringAmount / @asset.frequencyStr</dd>
                <dt>Description:</dt>
                <dd>@asset.description</dd>
            </dl>
        }
        </div>
    </div>
    <div class="row col-md-12">
        <h3>Debts</h3>
        <div class="debts-review asset-list">
        @for((debt,index) <- client.debtList.zipWithIndex) {
            <dl class="col-md-6 @if(index % 2 == 0) {even}else {odd}">
                <dt>Type of Asset:</dt>
                <dd>@debt.realDebtType</dd>
                <dt>Value:</dt>
                <dd>@debt.totalOwed</dd>
                <dt>Financial Institute:</dt>
                <dd>@debt.financialInstitute</dd>
                <dt>Payment:</dt>
                <dd>@debt.recurringAmount / @debt.frequencyStr</dd>
                <dt>Description:</dt>
                <dd>@debt.description</dd>
            </dl>
        }
        </div>
    </div>
    <p class="row closing-text col-md-12">
        Financial Profile conducted and created by @agent.firstName @agent.lastName .
    </p>
}