@(user: UserModel)
@home(user, "Profile a Client") {

    <h1>Client Profile Tool</h1>
    <div ng-controller="ProfileController">

        @*Client panel in profile tool*@
        <div ng-controller="ClientController" ng-include src="'@routes.Assets.at("javascripts/src/views/client-in-profile.html")'"></div>

        <div class="row">
            <div class="col-md-6">
                @*Add assets panel in profile tool*@
                <div ng-controller="AssetController" class="panel panel-default assets client-component" id="asset" ng-include src="'@routes.Assets.at("javascripts/src/views/add-asset.html")'"></div>
            </div>
            <div class="col-md-6">
                @*Add debts panel in profile tool*@
                <div ng-controller="DebtController" class="panel panel-default debts client-component" id="debt" ng-include src="'@routes.Assets.at("javascripts/src/views/add-debt.html")'"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title counted" data-step="4">Profile Questions</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" name="profileForm" ng-submit="profileForm.$valid && addProfile(profile)" novalidate>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Risk Tolerance:</label>
                                <div class="col-md-10 btn-group" id="risk-btn-group" >
                                    <label class="btn btn-default" >Con
                                        <input type="radio" id="riskToleranceString_0" name="riskTolerance"  ng-value="{{profile.riskTolerance || '0'}}" value="0" ng-model="profile.riskTolerance" ></label>
                                    <label class="btn btn-default">Con/Med
                                        <input type="radio" id="riskToleranceString_1" name="riskTolerance"  ng-value="{{profile.riskTolerance || '1'}}" ng-model="profile.riskTolerance"></label>

                                    <label class="btn btn-default">Med
                                        <input type="radio" id="riskToleranceString_2" name="riskTolerance"  ng-value="{{profile.riskTolerance || '2'}}" value="2" ng-model="profile.riskTolerance"></label>

                                    <label class="btn btn-default">Med/Agg
                                        <input type="radio" id="riskToleranceString_3" name="riskTolerance"  ng-value="{{profile.riskTolerance || '3'}}" value="3" ng-model="profile.riskTolerance"></label>

                                    <label class="btn btn-default">Agg
                                        <input type="radio" id="riskToleranceString_4" name="riskTolerance"  ng-value="{{profile.riskTolerance || '4'}}" value="4" ng-model="profile.riskTolerance"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Growth Goals: </label>
                                <div class="col-md-10 btn-group" id="growth-btn-group">
                                    <label class="btn btn-default">Growth
                                        <input type="radio" id="riskToleranceModifierString_-1" name="riskToleranceModifier"  ng-value="{{profile.riskToleranceModifier || '-1'}}" value="-1" ng-model="profile.riskToleranceModifier"></label>

                                    <label class="btn btn-default">Growth/Income
                                        <input type="radio" id="riskToleranceModifierString_0" name="riskToleranceModifier"  ng-value="{{profile.riskToleranceModifier || '0'}}" value="0" ng-model="profile.riskToleranceModifier"></label>

                                    <label class="btn btn-default">Income
                                        <input type="radio" id="riskToleranceModifierString_1" name="riskToleranceModifier"  ng-value="{{profile.riskToleranceModifier || '1'}}" value="1" ng-model="profile.riskToleranceModifier"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label  class="col-md-2 control-label" >Liquidity Needs:</label>
                                <div class="col-md-10">
                                    <textarea name="liquidityNeeds" class="form-control" ng-model="profile.liquidityNeeds" placeholder="Liquidity Needs"  ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Savings Plans: </label>
                                <div class="col-md-10">
                                    <textarea name="savingsPlans" class="form-control " ng-model="profile.savingsPlans" placeholder="Savings Plans"  ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Expected Date Of Funds Use: </label>
                                <div class="col-md-10">
                                    <textarea name="expectedDateOfFundsUse" class="form-control" ng-model="profile.expectedDateOfFundsUse" placeholder="Expected date of funds use"  ></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" >Advisor Recommendation: </label>
                                <div class="col-md-10">
                                    <textarea name="advisorRecommendation" class="form-control" ng-model="profile.advisorRecommendation" placeholder="Your recommendation"  ></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" >Next Step Date: </label>
                                <div class="col-md-6">
                                    <input class="form-control ng-pristine ng-valid" name="nextStepDate" ng-model="profile.nextStepDate" data-provide="datepicker" data-date-today-highlight="true" data-date-format="yyyy-mm-dd">
                                </div>
                                <label class="col-md-1 control-label">Time:</label>
                                <div class="col-md-1 bootstrap-timepicker">
                                    <input type="text" class="form-control" ng-model="profile.nextStepTime" id="timepicker" data-default-time="false" data-template="dropdown" data-show-inputs="false" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status of the referral that generated this profile: </label>
                                <div class="col-md-1">
                                    <select name="status" id="status" ng-model="profile.referral.status" ng-options="status.status for status in refStatus"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Total Insurance: </label>
                                <div class="col-md-10">
                                    <input type="number" ng-model="profile.referral.tInsurance" class="col-md-1" />
                                    <label class="col-md-1 control-label">Total PC: </label>
                                    <input type="number" ng-model="profile.referral.tPc" class="col-md-1" />
                                    <label class="col-md-1 control-label">Total IPS: </label>
                                    <input type="number" ng-model="profile.referral.tIps" class="col-md-1" />
                                </div>
                            </div>

                            <input type="hidden" ng-mode="profile.agentId" value="@user.id" />

                            <div class="form-group">
                                <input type="submit" value="Submit Profile" ng-disabled="!profile.clientId" class="btn btn-primary col-md-offset-2"/>
                            </div>

                            <div class="alert alert-warning col-md-12" ng-if="!profile.clientId">
                                <i class="fa fa-warning fa-fw fa-lg"></i>
                                <strong>Warning!</strong> Please verify client information in step 1 first.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}