@(agent: UserModel, profile: Profile, client: Client, referral: Referral)
@home(agent, "Profile Review") {
    <h1 class="row">Client Profile Summary</h1>
    <div class="row">
        <div class="alert alert-success required">
            <i class="fa fa-check-square fa-fw fa-lg"></i>
            Your client profile was created successfully
        </div>

        <div class="col-md-12">
            <h3>Client Information</h3>
            <div class="client-review">
                <ul>
                    <li>Name: @client.name</li>
                    <li>E-mail: @client.userName</li>
                    <li>Date of birth: @client.birthDatePretty</li>
                    <li>Referral Notes: @client.refNotes</li>
                </ul>
            </div>
            <h3>Profile Information</h3>
            <div class="profile-review">
                <ul>
                    <li>Recommendation: @profile.advisorRecommendation</li>
                    <li>Liquidity Needs: @profile.liquidityNeeds</li>
                    <li>Expected date of funds use: @profile.expectedDateOfFundsUse</li>
                    <li>Savings Plans: @profile.savingsPlans</li>
                    <li>Next Steps: @profile.nextSteps</li>
                </ul>
            </div>
            <h3>Production</h3>
            <div class="production-review">
                <ul>
                    <li>Status: @referral.status</li>
                    <li>Was Productive: @referral.wasProductive</li>
                    <li>Total Insurance: @referral.tInsurance</li>
                    <li>Total PC: @referral.tPc</li>
                    <li>Total IPS: @referral.tIps</li>
                </ul>
            </div>
            <h3>Financial Assets</h3>
            <div class="assets-review asset-list">
            @for((asset,index) <- client.assetList.zipWithIndex) {
                <ul class="col-md-6 @if(index % 2 == 0) {even}else {odd}">
                    <li>Type of Asset: @asset.realAssetType</li>
                    <li>Value: @asset.totalValue</li>
                    <li>Financial Institute: @asset.financialInstitute</li>
                    <li>Payment: @asset.recurringAmount / @asset.frequencyStr</li>
                    <li>Description: @asset.description</li>
                </ul>
            }
            </div>
            <h3>Debts</h3>
            <div class="debts-review asset-list">
            @for((debt,index) <- client.debtList.zipWithIndex) {
                <ul class="col-md-6 @if(index % 2 == 0) {even}else {odd}">
                    <li>Type of Asset: @debt.realDebtType</li>
                    <li>Value: @debt.totalOwed</li>
                    <li>Financial Institute: @debt.financialInstitute</li>
                    <li>Payment: @debt.recurringAmount / @debt.frequencyStr</li>
                    <li>Description: @debt.description</li>
                </ul>
            }
            </div>
            <p class="row closing-text col-md-12">
                Financial Profile conducted and created by @agent.firstName @agent.lastName. Generated by EFSManager.com
            </p>
        </div>
    </div>
}