@(signupForm: Form[UserModel])

@main("Signup page") {

    <div class="container">
        <h1 class="page-header">Sign up for EFS Manager</h1>

        @if(signupForm.hasGlobalErrors) {
            <p class="alert alert-danger">
            @signupForm.globalError.message
            </p>
        }

        @helper.form(routes.Application.addSignup(), 'role -> "form", '_class -> "row") {

            <input type="number" name="userId" class="form-control form-group" placeholder="Agent Id" value="@signupForm("userId").value()" />
            <input type="email" name="userName" class="form-control form-group" placeholder="Username" value="@signupForm("userName").value()" />
            <input type="text" name="firstName" class="form-control form-group" placeholder="First Name" value="@signupForm("firstName").value()" />
            <input type="text" name="lastName" class="form-control form-group" placeholder="First Name" value="@signupForm("lastName").value()" />

            <fieldset class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" value="@signupForm("password").value()" />
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" value="" />
            </fieldset>

            <select name="roleTypeString" class="form-control form-group">
                <option value="Producer" selected>Producer</option>
                <option value="Agent" >Agent</option>
                <option value="FA">Financial Advisor</option>
            </select>

            <input type="submit" value="Sign up" />
        }
    </div>
}