@(signupForm: Form[UserModel], roleType: Integer)

@main("Signup page", "false") {

    <div class="container">
        @if(roleType == 1) {
            <h1 class="page-header">Sign your team member up as an agent</h1>
        }
        @if(roleType == 2) {
            <h1 class="page-header">Sign your team member up as a producer</h1>
        }

        @if(signupForm.hasGlobalErrors) {
            <p class="alert alert-danger">
            @signupForm.globalError.message
            </p>
        }

        <p class="alert alert-warning col-md-6">This team member will be assigned to your account. If you would like this team member assigned to a different account please log in as that team member.</p>

        @helper.form(routes.Application.addSignup(), 'role -> "form", '_class -> "row") {

            <input type="number" name="userId" class="form-control form-group" placeholder="Agent Id" value="@signupForm("userId").value()" />
            <input type="email" name="userName" class="form-control form-group" placeholder="E-mail address" value="@signupForm("userName").value()" />
            <input type="text" name="firstName" class="form-control form-group" placeholder="First Name" value="@signupForm("firstName").value()" />
            <input type="text" name="lastName" class="form-control form-group" placeholder="Last Name" value="@signupForm("lastName").value()" />

            <fieldset class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" value="@signupForm("password").value()" />
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" value="" />
            </fieldset>

            <input type="hidden" value="@roleType" name="roleTypeNum" />

            <input type="submit" value="Sign up" />
        }
    </div>
}