#baseContainer {
	margin-bottom: 50px;
}

.closing-text {
	margin-top: 20px;
}

.client-review dd, .profile-review dd {
	padding-left: 2em;
	padding-top: 0.3em;
	padding-bottom: .3em;
}

.alert li {
	list-style-type: none;
}

.main-box .main-box-header .badge {
	top: -2px;
	position: relative;
}

/* Create Referral */
.create-referral .nav-pills {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Numbers in white circles */
.counted:before {
	content: attr(data-step);
	height: 18px;
	width: 18px;
	display: inline-block;
	text-align: center;
	font-family: inherit;
	margin-right: 8px;
	border-radius: 18px;
	background-color: white;
	color: rgb(3, 169, 244);
}
.panel-heading h2 {
	padding-left: 10px;
}

/* Payment */
.payment {
	max-width: 350px;
	min-width: 280px;
	margin: 60px auto 20px;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	background-clip: padding-box;
}
.payment form {
	text-align: center;
	margin-top: 20px;
}